<!DOCTYPE html>
<html lang="kor">
  {{> ../_head.hbs}}
  <body>
    <div class="wrap">
      {{> ../_header.hbs title=title}}

      {{> @partial-block }}

      {{> ../_footer.hbs}}
    </div>
  </body>
</html>