.abc {
  background: #ddd;
}
.icon-test {
  background: url(../img/icon-facebook.svg) no-repeat center;
  background-size: contain;
  width: 20px;
  height: 40px;
  display: flex;
  align-items: center;
}
.test {
  background: linear-gradient(#e98a00, #f5aa2f);
  display: block;
  width: 20px;
  height: 20px;
  transform: translate3d(45deg);
  ::after {
    content: 'ttttt';
  }
}